{{#> base }}

{{#*inline "content-block"}}

<div class="container">
	<div class="row">

		<div class="col col-md-2"></div>
		<div class="col col-md-8 mtm">
			<h4>App Service Account</h4>
			<div style="border-style: dashed; border-color: #F96079">
				<p>Actions:</p>
				<form class="form-inline" action="/create-collaboration" method="post">
					<div class="form-group">
						<select name="userId" class="form-control form-control-sm">
							{{#each users}}
									<option value={{this.id}}>{{this.name}}</option>
							{{/each}}
						</select>
						<input type="hidden" name="folderId" id="folderId">
						<input type="text" id="targetFolder" name="targetFolder" class="form-control form-control-sm" id="targetFolder" placeholder="select folder below" disabled>
					</div>
					<button id="collabButton" type="submit" class="btn btn-primary btn-sm" disabled>Send Invite</button>
				</form>

				<!-- Box Content Explorer -->
				<div class="tab-pane show active mts" role="tabpanel" id="explorer">
					<div style="height:400px" class="explorer-sa"></div>
				</div>
			</div>
		</div>

	</div>
	<div class="row mtm">
		<div class="col col-md-5">
			<h4>User A</h4>
			<!-- Box Content Explorer -->
			<div class="tab-pane show active mts" style="border-style: dotted; border-color: #0F64D2" role="tabpanel" id="explorer">
				<div style="height:400px" class="explorer-a"></div>
			</div>
		</div>
		<div class="col col-md-2"></div>

		<div class="col col-md-5">
			<h4>User B</h4>
			<!-- Box Content Explorer -->
			<div class="tab-pane show active mts" style="border-style: dotted; border-color: #0F64D2" role="tabpanel" id="explorer">
				<div style="height:400px" class="explorer-b"></div>
			</div>
		</div>

	</div>
</div>

<script>
  var folderId = '0';
  var explorerA = new Box.ContentExplorer();
	var explorerB = new Box.ContentExplorer();
	var explorerSA = new Box.ContentExplorer();


  explorerA.show(folderId, '{{tokenA}}', {
    container: '.explorer-a',
		logoUrl: ""
  });

	explorerB.show(folderId, '{{tokenB}}', {
    container: '.explorer-b',
		logoUrl: ""
  });

	explorerSA.show(folderId, '{{saToken}}', {
		container: '.explorer-sa',
		logoUrl: ""
	});

	explorerSA.addListener('select', (item) => {
		document.getElementById("targetFolder").value = item[0].name;
		document.getElementById("folderId").value = item[0].id;
		document.getElementById("collabButton").disabled = false;
	})

</script>

{{/inline}}

{{/base}}
