{{#> base }}

{{#*inline "content-block"}}

<div class="container">
	<div class="row">

		<div class="col col-md-2 mts"><a class="btn btn-danger" href="/reset-content">Reset Content</a></div>
		<div class="col col-md-8 mtm">
			<h4>Application Service Account</h4>
			<div style="border-style: dashed; border-color: #F1F1F1; padding: 10px">
				<form class="form-inline" action="/create-collaboration" method="post">
					<div class="form-group">
						<select name="userId" class="form-control form-control-sm">
							{{#each users}}
									<option id="{{this.name}}" class="editable" value={{this.id}}>{{this.name}}</option>
							{{/each}}
						</select>
						<input type="hidden" name="folderId" id="folderId">
						<input type="text" id="targetFolder" name="targetFolder" class="form-control form-control-sm mls" id="targetFolder" placeholder="select folder below" disabled>
						<input type="checkbox" class="form-check-input form-control mls" name="canViewPath" id="canViewPath">
						<label class="form-check-label" for="canViewPath">can_view_path</label>
					</div>
					<button id="collabButton" type="submit" class="btn btn-primary btn-sm mls" disabled>Send Collaboration Invite</button>
				</form>

				<!-- Box Content Explorer -->
				<div class="tab-pane show active mts" role="tabpanel" id="explorer">
					<div style="height:400px" class="explorer-sa"></div>
				</div>
			</div>
		</div>

	</div>
	<div class="row mtm mbl">
		<div class="col col-md-5">
			<h4 id="User A" class="editable">User A</h4>
			<!-- Box Content Explorer -->
			<div class="tab-pane show active mts" style="border-style: dotted; border-color: #9EB7DC; padding: 10px" role="tabpanel" id="explorer">
				<div style="height:400px" class="explorer-a"></div>
			</div>
		</div>
		<div class="col col-md-2"></div>

		<div class="col col-md-5">
			<h4 id="User B" class="editable">User B</h4>
			<!-- Box Content Explorer -->
			<div class="tab-pane show active mts" style="border-style: dotted; border-color: #9EB7DC; padding: 10px" role="tabpanel" id="explorer">
				<div style="height:400px" class="explorer-b"></div>
			</div>
		</div>

	</div>
</div>

<script>
  const folderId = '0';
  const explorerA = new Box.ContentExplorer();
	const explorerB = new Box.ContentExplorer();
	const explorerSA = new Box.ContentExplorer();


  explorerA.show(folderId, '{{tokenA}}', {
    container: '.explorer-a',
		logoUrl: ""
  });

	explorerB.show(folderId, '{{tokenB}}', {
    container: '.explorer-b',
		logoUrl: ""
  });

	explorerSA.show(folderId, '{{saToken}}', {
		container: '.explorer-sa',
		logoUrl: ""
	});

	explorerSA.addListener('select', (item) => {
		document.getElementById("targetFolder").value = item[0].name;
		document.getElementById("folderId").value = item[0].id;
		document.getElementById("collabButton").disabled = false;
	})

</script>

{{/inline}}

{{/base}}
